extends layout

block content
  head
    link(rel='stylesheet', href='/stylesheets/hotellistStyle.css') 
    
  body
    .container-fluid(style='background-color:#e8e8e8')
      #property-listings.container.container-pad
        .row
          .col-md-12
            h1 Looking around AirCNC Hotel List
            p
              | make the decisions you want
          //- each hotel in hotels 
          //-   li 
          //-     !{hotel.region}
          //-   li
          //-     !{hotel.houseName}
          //-   li
          //-     !{hotel.writer}
        .row
          each hotel in hotels 
            .col-sm-6
              // Begin Listing: 609 W GRAVERS LN
              .brdr.bgc-fff.pad-10.box-shad.btm-mrg-20.property-listing
                .media
                  form#myForm(action='/hotel/#{hotel._id}', method='post')
                    a.pull-left(href='#', target='_parent')
                      img.img-responsive(alt='image', src='http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg')
                    .clearfix.visible-sm
                    .media-body.fnt-smaller
                      a(href='#', target='_parent')
                      h4.media-heading
                        a(href='#', target='_parent')
                          | $!{hotel.price}
                          small.pull-right houseName : !{hotel.houseName}
                      ul.list-inline.mrg-0.btm-mrg-10.clr-535353
                        li !{hotel.select}
                        li(style='list-style: none') |
                        li 5 Beds !{hotel.name}
                        li(style='list-style: none') |
                        li 5 Baths
                      p.hidden-xs                          
                        | !{hotel.introduction}
                        | ...
                      span.fnt-smaller.fnt-lighter.fnt-arial
                        | Courtesy of HS Fox & Roach-Chestnut Hill
                        | Evergreen
      
                      button#hotellistBtn.btn.btn-primary.reserveBtn(type='submit')
                             | Reserve
                        
                

                    //- form.form-horizontal(action='https://formden.com/post/MlKtmY4x/', method='post')
                    //-   .form-group
                    //-     label.control-label.col-sm-2.requiredField(for='date')
                    //-       | Date
                    //-       span.asteriskField
                    //-         | *
                    //-     .col-sm-10
                    //-       .input-group
                    //-         .input-group-addon
                    //-           i.fa.fa-calendar
                    //-         input#date.form-control(name='date', placeholder='MM/DD/YYYY', type='text')
                    //-   .form-group
                    //-     .col-sm-10.col-sm-offset-2
                    //-       input(name='_honey', style='display:none', type='text')
                    //-       button.btn.btn-primary(name='submit', type='submit')
                    //-         | Submit
                    //-       
                  

                    
                    
                
    script(type='text/javascript', src='/javascripts/hotellist.js')
  
    
        
