extends layout

block content
  head
  
    link(rel='stylesheet', href='/stylesheets/reserveStyle.css')
    
    //script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    //script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(type='text/javascript', src='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js')
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css')
    script(type='text/javascript', src='/javascripts/hotelReserve.js')
    body
     // Page Content
     .container
       .row
        //form(action='/hotel/send/#{hotel._id}', method='post')
        form(action='/hotel/send/#{hotel._id}', method='post')
         .col-lg-12
           h1 Reserve Hotel
           p
             | please check once more if you really like 
             | then reserve       
           p
             | Hotel Name : #{hotel.houseName}
           p
             | Owner : #{hotel.name}
           p
             | price : $ #{hotel.price}
           p
             | region : #{hotel.region}
           p
             | select : #{hotel.select}
           p
             | introduction : #{hotel.introduction}
             
           li#hotelId #{hotel._id}
           
           p
             | Select Date Range !!
           input(type='text', name='daterange', id='daterange', value='12/01/2016 - 12/09/2016')


          button.btn.btn-primary.reserveBtn(type='button') 
                    | Reserve
          button.btn.btn-primary.confirmBtn(type='submit') 
                    | Confirm
          button.btn.btn-primary.backBtn(type='button') 
                    | Back
            
    
    script(src='/bower_components/moment/min/moment.min.js')
    script(type='text/javascript', src='/javascripts/hotelReserve.js')
                    
    script(type='text/javascript').
      $(function() {
      $('input[name="daterange"]').daterangepicker();
      });
